.main-container{
  height: 100%;
  border-image: url('Assests/border.png') 90% round;
  border-image-repeat: stretch;
  border-image-slice:40;
  border-image-width: 100px;
  border-image-outset: 10px 5px 15px 5px;
  line-height: 30px;
  padding: 2% 10%;
}

.institute-name {
  color: #181857;
}

.certificate{
  color: #181857;
  font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}

.title{
  background-color: #181857;
}