* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.course-container .course-header {
    width: 95% !important;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.course-container .course-header .course-sort {
    width: 100% !important;
    margin: auto;
}

.course-container .course-header .course-sort .sort-part-1 {
    width: 70% !important;
    margin: auto;
}

.course-container .course-header .course-sort .sort-part-2 {
    width: 10% !important;
    margin: auto;
}

.course-container .course-header .course-filter {
    width: 85% !important;
    margin: auto;
}

.course-container .course-header .course-title {
    width: 85% !important;
    margin: auto;
}

@media (min-width :769px) and (max-width : 1200px) {
    .course-container .course-header .course-sort {
        width: 100% !important;
    }

    .course-container .course-header .course-sort .sort-part-1 {
        width: 80% !important;
    }

    .course-container .course-header .course-sort .sort-part-2 {
        width: 20% !important;
    }
}

@media (min-width :769px) and (max-width : 1024px) {

    .course-container .course-header .course-sort .sort-part-1 .from-select {
        font-size: 10px !important;
    }
}

@media (min-width :320px) and (max-width : 768px) {
    .course-container .course-header .course-sort .sort-part-1 {
        width: 100% !important;
        margin: auto;
    }

    .course-container .course-header .course-sort .sort-part-2 {
        width: 100% !important;
        margin: auto;
    }
}

@media (min-width :320px) and (max-width : 480px) {

    .course-container .course-header {
        width: 100%;
    }
}