* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-dark-transparent: #00000099;
    --aqua: #3DCBB1;
    --bg-aqua-transparent : #3dcbb11a;
    --gray : #454343;
    --gray-shadow : #5d5d5d;
    --violate : #A04AE3;
    --blue : #2273D1;
    --gray-transparent : #F9F9F999;
    --dark : #1B1B1B;
    --grey : #bbbaba;
}

/* main section start */

.main-container {
    width: 100%;
    height: 45rem;
    position: relative;
}

.main-container .banner-img {
    width: 100%;
    height: 45rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../Assests/hero-section.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(40%);
}

.main-container .header-container {
    width: 100%;
    position: absolute;
    top: 1%;
    left: 0%;
    right: 0%;
    z-index: 100;
}

.main-container .header-container .menu-name {
    background-color: var(--bg-aqua-transparent);
    color: var(--aqua) !important;
}

.main-container .header-container .sub-menu {
    top: 40% !important;
    left: 102% !important;
}

.main-container .header-container .dropdown-submenu:hover .sub-menu {
    display: block;
}

.main-container .header-container .dropdown-submenu.active .sub-menu {
    display: block;
}

.main-container .header-container .navbar-toggler {
    border: none !important; /* Remove border */
}

.main-container .header-container .navbar-toggler .navbar-toggler-animation {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
}

.main-container .header-container .navbar-toggler .navbar-toggler-animation span {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 2px;
    background: var(--aqua); /* Background color */
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 30px; /* Rounded corners */
}

.main-container .header-container .navbar-toggler .navbar-toggler-animation span:nth-child(1) {
    top: 6%; /* Positioning */
}

.main-container .header-container .navbar-toggler .navbar-toggler-animation span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-container .header-container .navbar-toggler .navbar-toggler-animation span:nth-child(3) {
    bottom: 10%; /* Positioning */
}

.main-container .header-container .navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] {
    border: none !important; /* Remove border when expanded */
}

.main-container .header-container .navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg) translateY(-50%);
    transform: rotateZ(-45deg) translateY(-50%);
    bottom: 42%; /* Positioning */
    width: 100%;
}

.main-container .header-container .navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(1) {
    -webkit-transform: rotateZ(45deg) translateY(-50%);
    transform: rotateZ(45deg) translateY(-50%);
    top: 50%; /* Positioning */
    width: 100%;
}

.main-container .header-container .navbar-toggler[data-bs-toggle=collapse][aria-expanded=true] .navbar-toggler-animation span:nth-child(2) {
    display: none; /* Hide */
}

.main-container .header-container .name {
    display: none;
}

.main-container .header-container .avatar-img {
    object-fit: cover;
}

.main-container .header-container .navbar .form-check-input:checked {
    background-color: var(--aqua);
    border-color: var(--aqua);
}

.main-container .header-container .navbar .form-check-input {
    color: var(--gray);
    width: 60px !important;
    height: 30px !important;
}

.main-container .header-container .navbar .phoneIcons {
    display: none !important;
    z-index: 10000;
}


.main-container .banner-content {
    position: absolute;
    top: 40%;
    left: 5%;
}

.main-container .search-section {
    position: absolute;
    bottom: -5%;
    left: 4%;
    right: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 3px var(--gray-shadow);
}

.main-container .search-section .search-btn button {
    background-color: var(--aqua);
    color: white;
}

/* main section end */


/* Continue Watching section  start*/

.continue-section {
    height: auto;
    width: 85%;
}

.continue-section .continue-watching {
    overflow-x: auto;
}

.continue-section .continue-watching::-webkit-scrollbar {
    width: 0;
}

.continue-section .continue-watching-part {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
}

.continue-section .continue-watching-part .continue-img {
    height: 275px;
    width: 450px;
}

/* Continue Watching section end*/


/* categories section start*/

.courses-section {
    height: auto;
    width: 95%;
}

.courses-section .course-categories .course-list {
    overflow-x: auto;
    padding: 0;
    margin: auto;
}

.courses-section .course-categories .course-list::-webkit-scrollbar {
    width: 0;
}

.courses-section .course-categories .course-list li{
    background-color: #146659 !important;
}

.courses-section .course-video .course-title {
    margin: 2%;
}

.courses-section .course-video-boxs {
    overflow-x: auto;
}

.courses-section .course-video-boxs::-webkit-scrollbar {
    width: 0;
}

.courses-section .course-video-boxs .video-box {
    height: auto;
    width: 400px !important;
    box-shadow: #00000012 0px 1px 2px, #00000012 0px 2px 4px, #00000012 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.courses-section .course-video-boxs .video-box .video-img {
    height: 250px;
    width: 395px !important;
    margin: auto !important;
}


/* categories section end*/


/* trending course start*/
.trending-courses-section .trending-course-video .trending-course-video-box .trending-video-box .trending-video-img .best-seller {
    top: 5%;
    left: 5%;
    border-radius: 15px;
    background-color: var(--aqua);
}

.trending-courses-section .trending-course-video .trending-course-video-box .trending-video-box .trending-video-img .offer {
    top: 5%;
    left: 35%;
    border-radius: 15px;
    background-color: var(--violate);
}

/* trending course end*/



/*  instructor section start*/

.instructor-section .instructor-info .instructor-part .instructor {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
}

.instructor-section .instructor-info .instructor-part .instructor .instructor-img {
    width: 300px;
    height: 400px;
}

.instructor-section .instructor-info .instructor-part .instructor .instructor-name {
    border-radius: 30px;
    height: 400px;
    width: 300px;
    opacity: 0;
    transition: opacity ease-in-out 1s;
    background: linear-gradient(180deg, #1a807b7c 0%, #809c9989 100%);
}

.instructor-section .instructor-info .instructor-part .instructor:hover .instructor-name {
    display: block;
    opacity: 1;
}

.instructor-section .instructor-info {
    overflow-x: auto;
}

.instructor-section .instructor-info::-webkit-scrollbar {
    width: 0;
}

/*  instructor section end*/


/* join us section start*/

.join-section .join-part {
    height: 200px;
    border-radius: 15px;
    background-color: var(--blue);
}

.join-section .join-part .mask-img {
    height: 200px;
}

.join-section .join-part .join-content {
    top: 28%;
}

.join-section .join-part .join-content p {
    color: #bbbaba;
}

.join-section .join-part .join-content .subscribe-button {
    color: #bbbaba;
    background-color: var(--grey);
}

/* join us section end*/


/* footer start*/

footer {
    background-color: var(--dark);
}

footer .footer-content .footer-list li {
    list-style: none;
}

footer .copyright-section {
    color: var(--gray-transparent);
}

/* footer end*/